<launch>
        <param name="robot_description" command="cat $(find Navio2_visualize)/urdf/simple.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="visual_test_ver2" pkg="Navio2_visualize" type="visual_test_ver2.py" />
</launch>
